.col-md-9.text-center.text-md-right {
    clear: both;
    display: table-caption;
    position: relative;
    left: 35%;
    top: 10px;
}

.col-md-3.text-center.text-md-left {
    clear: both;
    position: relative;
    top: -15px;
}
.magrin15px {
    margin-left: 15px;
    font-size: 18px;
}
.h3, h3 {
    font-size: 1.25rem;
}
